body {
    background-color : rgb(69, 69, 233);
    }
    
    #title {
        color: white;
        font-size: 60px;
        border-style: solid; 
        border-width: thin; 
    }
    
    img {
        width: 490px;
        
    }
    
    div { 
        color: white; 
        font-size:80; 
        border-style: solid; 
        border-width: thin;
        
    }
    